<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos_listadoProducto.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/imgs/tshirt.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Listado de productos - ARG DESIGN</title>
</head>

<body>
    <%- include('partials/cabecera') -%>

        <!-- LISTA DE PRODUCTOS -->

        <div class="wrap-container">
            <h1>Escoge un producto</h1>
            <div class="store-wrapper">
                <div class="category-list">
                    <a class="category-rama" href="/productos"> <u>Ver todos los productos</u></a>
                    <hr>
                    <form action="/productos/buscar" method="post">

                        <div class="cat">
                            <h5>Mujer</h5>
                            <div class="scroll">
                                <div class="tilde">
                                    <input type="checkbox" name="indumentariaMujer" id="indumentariaMujer" <% if
                                        (locals.rta) { %>
                                    <% if (locals.rta.indumentariaMujer==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="indumentariaMujer">Indumentaria</label>
                                </div>

                                <div class="tilde">
                                    <input type="checkbox" name="calzadoMujer" id="calzadoMujer" <% if (locals.rta) { %>
                                    <% if (locals.rta.calzadoMujer==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="calzadoMujer">Calzado</label>
                                </div>

                                <div class="tilde">
                                    <input type="checkbox" name="accesorioMujer" id="accesorioMujer" <% if (locals.rta)
                                        { %>
                                    <% if (locals.rta.accesorioMujer==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="accesorioMujer">Accesorios</label>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="cat">
                            <h5>Hombre</h5>
                            <div class="scroll">

                                <div class="tilde">
                                    <input type="checkbox" name="indumentariaHombre" id="indumentariaHombre" <% if
                                        (locals.rta) { %>
                                    <% if (locals.rta.indumentariaHombre==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="indumentariaHombre">Indumentaria</label>
                                </div>

                                <div class="tilde">
                                    <input type="checkbox" name="calzadoHombre" id="calzadoHombre" <% if (locals.rta) {
                                        %>
                                    <% if (locals.rta.calzadoHombre==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="calzadoHombre">Calzado</label>
                                </div>

                                <div class="tilde">
                                    <input type="checkbox" name="accesorioHombre" id="accesorioHombre" <% if
                                        (locals.rta) { %>
                                    <% if (locals.rta.accesorioHombre==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="accesorioHombre">Accesorios</label>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="cat">
                            <h5>Niños</h5>
                            <div class="scroll">
                                <div class="tilde">
                                    <input type="checkbox" name="indumentariaNiño" id="indumentariaNiño" <% if
                                        (locals.rta) { %>
                                    <% if (locals.rta.indumentariaNiño==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="indumentariaNiño">Indumentaria</label>
                                </div>
                                <div class="tilde">
                                    <input type="checkbox" name="calzadoNiño" id="calzadoNiño" <% if (locals.rta) { %>
                                    <% if (locals.rta.calzadoNiño==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="calzadoNiño">Calzado</label>
                                </div>
                                <div class="tilde">
                                    <input type="checkbox" name="accesorioNiño" id="accesorioNiño" <% if (locals.rta) {
                                        %>
                                    <% if (locals.rta.accesorioNiño==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="accesorioNiño">Accesorios</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="cat">
                            <h5>Sin Género</h5>
                            <div class="scroll">

                                <div class="tilde">
                                    <input type="checkbox" name="indumentariaSingen" id="indumentariaSingen" <% if
                                        (locals.rta) { %>
                                    <% if (locals.rta.indumentariaSingen==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="indumentariaSingen">Indumentaria</label>
                                </div>
                                <div class="tilde">
                                    <input type="checkbox" name="calzadoSingen" id="calzadoSingen" <% if (locals.rta) {
                                        %>
                                    <% if (locals.rta.calzadoSingen==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="calzadoSingen">Calzado</label>
                                </div>

                                <div class="tilde">
                                    <input type="checkbox" name="accesorioSingen" id="accesorioSingen" <% if
                                        (locals.rta) { %>
                                    <% if (locals.rta.accesorioSingen==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="accesorioSingen">Accesorios</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="cat">
                            <h5>Deporte</h5>
                            <div class="scroll">

                                <div class="tilde">
                                    <input type="checkbox" name="futbol" id="futbol" <% if (locals.rta) { %>
                                    <% if (locals.rta.futbol==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="futbol">Fútbol</label>
                                </div>
                                <div class="tilde">
                                    <input type="checkbox" name="tenis" id="tenis" <% if (locals.rta) { %>
                                    <% if (locals.rta.tenis==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="tenis">Tenis</label>
                                </div>
                                <div class="tilde">
                                    <input type="checkbox" name="running" id="running" <% if (locals.rta) { %>
                                    <% if (locals.rta.running==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="running">Running</label>
                                </div>
                                <div class="tilde">
                                    <input type="checkbox" name="natacion" id="natacion" <% if (locals.rta) { %>
                                    <% if (locals.rta.natacion==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="natacion">Natación</label>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="cat">
                            <h5>Marcas</h5>
                            <div class="scroll">
                                <div class="tilde">
                                    <input type="checkbox" name="nike" id="nike" <% if (locals.rta) { %>
                                    <% if (locals.rta.nike==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="nike">Nike</label>
                                </div>
                                <div class="tilde">
                                    <input type="checkbox" name="adidas" id="adidas" <% if (locals.rta) { %>
                                    <% if (locals.rta.adidas==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="adidas">Adidas</label>
                                </div>

                                <div class="tilde">
                                    <input type="checkbox" name="reebok" id="reebok" <% if (locals.rta) { %>
                                    <% if (locals.rta.reebok==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="reebok">Reebok</label>
                                </div>
                                <div class="tilde">
                                    <input type="checkbox" name="puma" id="puma" <% if (locals.rta) { %>
                                    <% if (locals.rta.puma==='on' ) { %>
                                        checked
                                        <% } %>
                                            <% } %>>
                                                <label for="puma">Puma</label>
                                </div>
                            </div>
                        </div>

                        <input type="submit" id="buscar" value="Buscar" style="margin:15% auto; display:block;">
                    </form>

                </div>

                <section class="products-list">
                    <% if (products.length==0) { %>
                        <div style="margin:10px auto;">
                            <div class="alert alert-primary center-block" role="alert"
                                style="text-align:center; width:85%; margin: 0 auto;"> <i
                                    class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <strong>
                                    ¡ No hay productos que coincidan con tu búsqueda ! <br>
                                    Puede agregarlos haciendo click en la pestaña "PUBLICAR"
                                </strong>
                            </div>
                            <img src="/imgs/empty-box.png" alt="" style="width:20%; display: block; margin: 10px auto;">
                        </div>
                        <% } %>


                            <% for( let index=0; index < products.length; index++ ) { %>

                                <div class="products-items">
                                    <div class="img-producto">
                                        <img src='<%= products[index].imagenPerfil  %> ' alt='Imagen_producto'>
                                    </div>

                                    <p>
                                        <br>
                                        <i>
                                            <%= products[index].categoria %>
                                        </i>
                                    </p>

                                    <a href="/productos/detalle/<%= products[index]._id %> ">
                                        <p>
                                            <%= products[index].nombre %>
                                        </p>
                                        <p>
                                            <%= products[index].descrip %>
                                        </p>

                                        <p>
                                            <i>
                                                <%= products[index].marca %>
                                            </i>
                                        </p>
                                    </a>
                                    <p>
                                        $ <%= products[index].precio %>
                                    </p>

                                </div>
                                <% } %>

                </section>
            </div>
        </div>

        <%- include('partials/newsletter') -%>

            <%- include('partials/footer') -%>

                <script src="/javascript_index.js"></script>
                <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>