<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos_misProductos.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/imgs/tshirt.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Listado de productos - ARG DESIGN</title>
</head>

<body>
    <%- include('partials/cabecera') -%>

        <!-- LISTA DE PRODUCTOS -->

        <div class="wrap-container">
            <div class="cont-titulo">
                <img src="/imgs/box.png" alt="img-productos">
                <h1>Tus productos</h1>
            </div>
            <hr>

            <% if (products.length==0) { %>
                <div class="alert alert-primary center-block" role="alert" style="text-align:center"> <i
                        class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    <strong>
                        ¡ No posee productos asociados a su cuenta ! <br>
                        Puede agregarlos haciendo click en la pestaña "PUBLICAR"
                    </strong>

                </div>
                <img src="/imgs/empty-box.png" alt="" style="width:10%; display: block; margin: 10px auto;">
                <% } %>

                    <% if (locals.msj) { %>

                        <div class="alert alert-primary center-block" role="alert" style="text-align:center"> <i
                                class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            <strong>
                                <%=msj %>
                            </strong>

                        </div>
                        <img src=<%=imagen %> alt="" style="width:10%; display: block; margin: 10px auto;">
                        <% } %>

                            <div class="store-wrapper">

                                <section class="products-list">
                                    <% for( let index=0; index < products.length; index++ ) { %>

                                        <div class="products-items">
                                            <div class="img-producto">
                                                <img src='<%= products[index].imagenPerfil  %> ' alt='Imagen_producto'>
                                            </div>

                                            <p>
                                                <br> <i>
                                                    <%= products[index].categoria %>
                                                </i>

                                            </p>

                                            <a href="/productos/detalle/<%= products[index]._id %> ">
                                                <p>
                                                    <%= products[index].nombre %>
                                                </p>
                                                <p>
                                                    <%= products[index].descrip %>
                                                </p>

                                                <p>
                                                    <i><%= products[index].marca %></i>
                                                    
                                                </p>
                                            </a>

                                            <p>
                                                $ <%= products[index].precio %>
                                            </p>

                                            <button class="btn_finalProducto">
                                                <a href="/productos/eliminarProducto/<%=products[index]._id%>">Eliminar
                                                    producto</a>
                                            </button>


                                            <button class="btn_finalProducto">
                                                <a href="/productos/editarProducto/<%=products[index]._id %>">Editar
                                                    producto</a>
                                            </button>

                                        </div>
                                        <% } %>

                                </section>
                            </div>
        </div>

        <%- include('partials/newsletter') -%>

            <%- include('partials/footer') -%>

                <script src="/javascript_index.js"></script>
                <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>